body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    background-color: #c0afaf;
    border-radius: 10px;
}

nav ul li a:hover {
    opacity: 80%;
}

main{
    margin-left: 8px;
    margin-right: 8px;
}

section{
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.product img{
    height: 280px;
    border-radius: 10px;
    width: 100%;
}

.product-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 20px;
}
.product {
    width: 390px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.product:hover {
    background-color: #f2f2f2;
}
.cart-button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cart-button:hover{
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
}

.footer-section h2 {
    margin-top: 0;
    color: white;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .footer-section{
        display: none;
    }
}
